body {
  background-color: #3e73d4;
  font-family: Arial, sans-serif;
  margin: 0;
}

.calculator {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 400px;
  background-color: rgb(236, 99, 99);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.calculator {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 400px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  padding: 10px;
  margin: 5px;
}

.button-container button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.error {
  color: rgb(241, 239, 239);
}

.success {  
  color: white;
}
